<p>Hi <%= @user.name %>,</p>

<p>You have been invited by <%= @invited_by.name %> to the project '<%= @project.title %>'</p>
<p>Click <%= link_to("here", project_url(@project)) %> to view the project details.</p>
<br/>
<hr/>
<p>Joshua Hunsche Jones</p>
<p>https://studio.joshuahunschejones.com</p>
