<li class="user user_<%= user.id %>">
  <span>
    <%= user.name %>
    <% if user.is_project_owner?(@project) %>
      (owner)
    <% end %>
  </span>
  <% if user.id == current_user.id %>
    <%= link_to(user_path(current_user), class: "user-link has-text-grey-light") do %>
      <span class="icon is-small">
        <i class="fas fa-user"></i>
      </span>
    <% end %>
  <% end %>
  <% if current_user.can_manage_project_owners?(@project) || !user.is_project_owner?(@project) %>
    <strong class="resource-action-divider has-text-link">|</strong>
    <%= link_to("Delete", project_remove_user_path(@project, user), method: :delete, remote: :true, class: "has-text-link", data: { confirm: "Are you sure you want to remove '#{user.name}' from this project? This action is permanent." }) %>
  <% end %>
</li>
