<div class="user-details">
  <br/>
  <h1 class="title is-4 user-title">My account</h1>
  <p class="project-description"><%= @user.name %></p>
  <p class="project-description"><%= @user.email %></p>
  <br/>
  <%= link_to("Edit", edit_user_registration_path(@user), class: "button is-info") %>
</div>
