<div class="project-breadcrumbs">
  <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
    <ul>
      <% breadcrumbs[0...(breadcrumbs.size - 1)].each do |breadcrumb| %>
        <li><%= link_to(breadcrumb[:text], breadcrumb[:path]) %></li>
      <% end %>
      <li class="is-active"><a href="#" aria-current="page"><%= breadcrumbs.last[:text] %></a></li>
    </ul>
  </nav>
</div>
