<div class="all-projects">
  <br/>
  <h1 class="title is-4">My projects</h1>
  <ul>
  <% @projects.each do |project| %>
    <li class="project-title">
      <%= link_to(project.title, project_path(project)) %>
    </li>
  <% end %>
  </ul>
</div>
