<div class="all-projects">
  <h1 class="title is-4">My projects</h1>
  <ul><%= render @projects %></ul>

  <% if current_user.is_site_admin? %>
    <br/>
    <h1 class="title is-4">Other projects</h1>
    <ul><%= render(Project.all - @projects) %></ul>
  <% end %>

  <br/>
  <% if current_user.can_create_projects? %>
    <%= link_to("New project", new_project_path, class: "button is-info") %>
  <% end %>
</div>
