<div class="project-details">
  <br/>
  <h1 class="title is-4 project-title"><%= @project.title %></h1>
  <p class="project-description"><%= @project.description %></p>
  <br/>
  <%= link_to("Edit", edit_project_path(@project), class: "button is-info") %>
</div>
