// Remove attachments button from trix editor
trix-toolbar {
  .trix-button-group--file-tools {
    display: none;
  }
}

// Style trix content editor boxes
trix-editor {
  &#comment_content {
    min-height: 250px;
    max-height: 350px;
    overflow-y: auto;
  }
  &#event_description {
    height: 200px;
    overflow-y: auto;
  }
  &#project_description {
    height: 250px;
    overflow-y: auto;
  }
  &#track_description,
  &#track_version_description {
    min-height: 200px;
    max-height: 300px;
    overflow-y: auto;
  }
  // bulma overrides this so we need to set it back
  li {
    list-style-type: disc;
  }
}

.box.comment {
  // change comment card styling here
  max-width: 800px;
  border: 1px solid hsl(0, 0%, 88%);
  .comment-creator {
    margin-bottom: 0px;
  }
  .comment-date {
    margin-top: -3px;
    margin-bottom: 15px;
  }
}
