// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.all-projects {
  padding: 16px;
}

.project-details {
  padding: 16px;
  h3.project-section-header {
    margin-bottom: 8px;
  }
}

.create-project {
  padding: 16px;
}

.track,
.track-version {
  .resource-order {
    display: inline-block;
    width: 24px;
    margin-right: 1px;
    text-align: right;
  }
}

.project-form {
  padding: 16px;

  .resource-action-divider {
    margin: 0px 4px;
    user-select: none;
  }

  .link {
    .external-link-icon {
      margin-right: 2px;
    }
  }
  .user {
    .user-link {
      margin-left: 2px;
    }
  }
  .field {
    &.track_is_completed {
      display: flex;
      align-items: center;

      input[name="track[is_completed]"] {
        transform: scale(1.25);
        margin: 1px 0px 0px 8px;
      }
      label[for="track_is_completed"] {
        user-select: none;
        &:hover {
          cursor: pointer;
        }
      }
    }
    &.track_order,
    &.track_version_order {
      display: flex;
      align-items: center;

      label[for="track_order"],
      label[for="track_version_order"] {
        margin-right: 8px;
      }
    }
  }
}
