.track-details,
.track-version-details {
  padding: 16px;

  h1.track-title,
  h1.track-version-title {
    margin-bottom: 5px;
  }

  h3.track-section-header,
  h3.track-version-section-header {
    margin-bottom: 8px;
  }
}


