.user-details,
.user-edit {
  padding: 16px;
}

.user-edit {
  h3.title {
    margin-bottom: 16px;
  }
  .notification-prefrences {
    .edit_user_project {
      display: inline-block;
    }
    margin-top: 25px;
    li {
      margin-top: 10px;
    }
  }
  .user-notifications-form-btn {
    margin: -2px 0px 0px 5px;
  }
}
