<p>Hello <%= @name %>,</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>We're contacting you to notify you that your email is being changed to <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>We're contacting you to notify you that your email has been changed to <%= @resource.email %>.</p>
<% end %>

<p>No further action is required on your part for this change to take effect. If you have any concerns or questions, feel free to reach out to joshua@hunschejones.com.</p>
<hr/>
<p>Joshua Hunsche Jones</p>
<p>https://studio.joshuahunschejones.com</p>
